body{
    color:aliceblue;
    background:black;
    margin: 5px;
    font-family: "Averia Libre", system-ui;
}
header {
    border-bottom: solid 1px rgb(223, 114, 166);;
    padding: 10px;
    font-size: 20px;
}

.chamada-texto{
    background: rgb(59 59 59);
    margin-right: 20px;
    text-align: center;
}
div {
    text-align: center;
}
h2 {
    text-align: center;
}
.categoria-videos img {
    opacity: 0.6;
    height: 180px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(212, 199, 199);
}
.categoria-2 {
    color:rgb(223, 114, 166);
}